<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>It's Nice to Meet You!</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/}">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive" th:src="@{assets/images/food.jpg}"/>
            </div>
            <div class="col-md-6">
                <h2>Welcome to 'Food Converter'</h2>
                <p>This is a web application with which you can convert different values needed in your daily
                    routine.You can create your own recipes with different products,ways of preparing and making and a
                    price of each product,which are saved in our data base and after that you can perform any changes or
                    just to delete it.If you have any questions, please go to the directory "Contact" and make your
                    enquiry!</p>
            </div>
        </div>
    </div>


</main>