<main xmlns="http://www.w3.org/1999/html">
<div class="container body-content span=8 offset=2">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Forgot password
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a>
                </li>
                <li><a th:href="@{/login}">Login</a></li>
                <li class="active">Forgot password</li>
            </ol>
        </div>
    </div>
    <form class="form-horizontal center-block" th:action="@{/resetPassword}" method="post">
        <fieldset>
            <legend class="text-center">Write your email</legend>
        <h3 class="text-center" th:text="${message}"></h3>
        <div class="form-group text-center">
            <label class="col-sm-4 control-label" for="user_email">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="user_email" placeholder="Email" name="email"/>
            </div>
        </div>
        <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
        <button class="btn btn-primary" type="submit">Send Reset Password Link</button>
        </div>
    </div>
    </fieldset>
    </form>
</div>
</main>
