<main>
    <div class="container body-content span=8 offset=2">
        <div class="row">
        <div class="col-lg-12">
                <h1 class="page-header">Registration
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/}">Home</a>
                    </li>
                    <li><a th:href="@{/login}">Login</a></li>
                    <li class="active">Registration</li>
                </ol>
            </div>
        </div>
        <form class="form-horizontal" th:action="@{/register}" method="post">
            <fieldset>
                <legend class="text-center">Create user account</legend>
                <h3 class="text-center" th:text="${message}"></h3>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="user_email">Email</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" type="email" id="user_email" placeholder="Email" name="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="user_fullname">Full Name</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" type="text" id="user_fullname" placeholder="Full Name"
                               name="fullName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="user_password_first">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="user_password_first" placeholder="Password"
                               name="password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="user_password_second">Confirm Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="user_password_second" placeholder="Password"
                               name="confirmPassword"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <input value="Submit" type="submit" class="btn btn-primary"/>
                        <a class="btn btn-default" th:href="@{/login}">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</main>